.input__style {
  border: 2px solid rgb(133, 15, 70);
  height: 30px;
  margin-right: 10px;
  max-width: 300px;
  margin-top: 10px;
}
.phonebook_titleContact {
  color: darkslateblue;
  font-weight: 800;
  font-size: 28px;
  text-decoration: underline;
}
